<p-panel header="ICS Defect Details">
    <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
</p-panel>
<div class="mt-3 mb-3">
<p-inplace>
<ng-template pTemplate="display">
    <div class="inline-flex align-items-center">
        <span class="pi pi-image" style="vertical-align: middle"></span>
        <span class="ml-2">View Defect Image</span>
    </div>
</ng-template>
<ng-template pTemplate="content">
    <img src="https://tse2.mm.bing.net/th/id/OIP.2-1nyMV0uS5OJ3UfWi1CqgAAAA?pid=ImgDet&rs=1" alt="Defect Image">
</ng-template>
</p-inplace>
</div>
<div class="flex flex-row" style="height:35rem">
<div class="w-26rem mr-3">
<p-listbox [(ngModel)]="selectedTab" [options]="tabs" optionLabel="name" optionValue="index" optionDisabled="disabled">
    <ng-template let-tab pTemplate="item">
        <div>{{tab.name}}</div>
        <div *ngIf="doneTabs[tab.index]" class="pi pi-check ml-auto" [ngStyle]="{fontSize:'1.5rem',color:'var(--green-500)'}"></div>
    </ng-template>
</p-listbox>
</div>
<div class="w-full">
    <p-panel header="Tracking" *ngIf="selectedTab=='0'">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Electrical Defects" *ngIf="selectedTab=='1'">
        <p-skeleton height="10rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Details" *ngIf="selectedTab=='2'">
        <p-skeleton height="15rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Process Info" *ngIf="selectedTab=='3'">
        <p-skeleton height="20rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Tools" *ngIf="selectedTab=='4'">
        <p-skeleton height="10rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Abnormality Analysis" *ngIf="selectedTab=='5'">
        <div class="flex flex-column gap-3 pb-3">

        <div>
        <h5>Did the T/M notice any abnormality?</h5>
        <!-- <div class="formgroup-inline">
            <div class="field-radiobutton">
                <input type="radio" id="aa1no" name="aa1noyes">
                <label for="aa1no">	No (Work related problem)</label>
            </div>
            <div class="field-radiobutton">
                <input type="radio" id="aa1yes" name="aa1noyes">
                <label for="aa1yes">Yes (Troubleshooting related problem)</label>
            </div>
        </div> -->
        <p-selectButton [options]="aa_q1_options" [(ngModel)]="aa_q1_value" optionLabel="label" optionValue="value"></p-selectButton>
        </div>

        <div *ngIf="aa_q1_value=='no'">
        <h5>What do you think are the problems that are related to work?</h5>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1no1" value="1" [(ngModel)]="aa_q1no1_values" inputId="aa_q1no1_v1"></p-checkbox>
            <label for="aa_q1no1_v1">T/M did not notice defect condition</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1no1" value="2" [(ngModel)]="aa_q1no1_values" inputId="aa_q1no1_v2"></p-checkbox>
            <label for="aa_q1no1_v2">T/M did not follow Standardized work</label>
        </div>
        <textarea *ngIf="aa_q1no1_values.includes('2')" class="ml-5 mb-3" rows="3" cols="70" pInputTextarea autoResize="autoResize"></textarea>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1no1" value="3" [(ngModel)]="aa_q1no1_values" inputId="aa_q1no1_v3"></p-checkbox>
            <label for="aa_q1no1_v3">T/M did follow Standardized work</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1no1" value="4" [(ngModel)]="aa_q1no1_values" inputId="aa_q1no1_v4"></p-checkbox>
            <label for="aa_q1no1_v4">Other</label>
        </div>
        <textarea *ngIf="aa_q1no1_values.includes('4')" class="ml-5 mb-3" rows="3" cols="70" pInputTextarea autoResize="autoResize"></textarea>        
        </div>

        <div class="flex flex-column gap-2" *ngIf="aa_q1_value=='yes'">
        <div>
        <h5>What kind of abnormality occurred?</h5>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1yes1" value="1" [(ngModel)]="aa_q1yes1_values" inputId="aa_q1yes1_v1"></p-checkbox>
            <label for="aa_q1yes1_v1">Abnormality in Assembling</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1yes1" value="2" [(ngModel)]="aa_q1yes1_values" inputId="aa_q1yes1_v2"></p-checkbox>
            <label for="aa_q1yes1_v2">Abnormality in Equipment</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="aa_q1yes1" value="3" [(ngModel)]="aa_q1yes1_values" inputId="aa_q1yes1_v3"></p-checkbox>
            <label for="aa_q1yes1_v3">Other</label>
        </div>
        <textarea *ngIf="aa_q1yes1_values.includes('3')" class="ml-5" rows="3" cols="70" pInputTextarea autoResize="autoResize"></textarea>        
        </div>

        <div>
        <h5>Is there any record of corrective action or troubleshooting taken?</h5>
        <div class="flex gap-3">
        <!-- <p-radioButton label="No" name="groupname" value="no" [(ngModel)]="selectedValue"></p-radioButton>
        <p-radioButton label="Yes" name="groupname" value="yes" [(ngModel)]="selectedValue"></p-radioButton> -->
        <p-selectButton [options]="no_yes_options" [(ngModel)]="aa_q1yes2_value" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        </div>

        <div>
        <h5>What went wrong with troubleshooting?</h5>
        <p-selectButton [options]="aa_q1yes3_options" [(ngModel)]="aa_q1yes3_value" optionLabel="label" optionValue="value"></p-selectButton>

        <div class="mt-3" *ngIf="aa_q1yes3_value=='1'">
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v1" value="1" [(ngModel)]="aa_q1yes3v1_values" inputId="aa_q1yes3v1_v1"></p-checkbox>
                <label for="aa_q1yes3v1_v1">T/M noticed abnormality but did not think it was a problem</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v1" value="2" [(ngModel)]="aa_q1yes3v1_values" inputId="aa_q1yes3v1_v2"></p-checkbox>
                <label for="aa_q1yes3v1_v2">T/M noticed abnormality but did not report it</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v1" value="3" [(ngModel)]="aa_q1yes3v1_values" inputId="aa_q1yes3v1_v3"></p-checkbox>
                <label for="aa_q1yes3v1_v3">	T/M noticed abnormality but forgot to report it</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v1" value="4" [(ngModel)]="aa_q1yes3v1_values" inputId="aa_q1yes3v1_v4"></p-checkbox>
                <label for="aa_q1yes3v1_v4">T/M tried to report abnormality but left it because nobody came to the line</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v1" value="5" [(ngModel)]="aa_q1yes3v1_values" inputId="aa_q1yes3v1_v5"></p-checkbox>
                <label for="aa_q1yes3v1_v5">T/M performed troubleshooting by him / herself</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v1" value="6" [(ngModel)]="aa_q1yes3v1_values" inputId="aa_q1yes3v1_v6"></p-checkbox>
                <label for="aa_q1yes3v1_v6">Other</label>
            </div>
            <textarea *ngIf="aa_q1yes3v1_values.includes('6')" class="ml-5" rows="3" cols="70" pInputTextarea autoResize="autoResize"></textarea>        
        </div>

        <div class="mt-3" *ngIf="aa_q1yes3_value=='2'">
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v2" value="1" [(ngModel)]="aa_q1yes3v2_values" inputId="aa_q1yes3v2_v1"></p-checkbox>
                <label for="aa_q1yes3v2_v1">Troubleshooter forgot to troubleshoot abnormality</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v2" value="2" [(ngModel)]="aa_q1yes3v2_values" inputId="aa_q1yes3v2_v2"></p-checkbox>
                <label for="aa_q1yes3v2_v2">Troubleshooter took corrective action but did not troubleshoot completely</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v2" value="3" [(ngModel)]="aa_q1yes3v2_values" inputId="aa_q1yes3v2_v3"></p-checkbox>
                <label for="aa_q1yes3v2_v3">Other</label>
            </div>
            <textarea *ngIf="aa_q1yes3v2_values.includes('3')" class="ml-5" rows="3" cols="70" pInputTextarea autoResize="autoResize"></textarea>        
        </div>

        <div class="mt-3" *ngIf="aa_q1yes3_value=='3'">
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v3" value="1" [(ngModel)]="aa_q1yes3v3_values" inputId="aa_q1yes3v3_v1"></p-checkbox>
                <label for="aa_q1yes3v3_v1">Information on abnormality was not communicated well</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v3" value="2" [(ngModel)]="aa_q1yes3v3_values" inputId="aa_q1yes3v3_v2"></p-checkbox>
                <label for="aa_q1yes3v3_v2">Wrong information on abnormality was communicated</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="aa_q1yes3v3" value="3" [(ngModel)]="aa_q1yes3v3_values" inputId="aa_q1yes3v3_v3"></p-checkbox>
                <label for="aa_q1yes3v3_v3">Other</label>
            </div>
            <textarea *ngIf="aa_q1yes3v3_values.includes('3')" class="ml-5" rows="3" cols="70" pInputTextarea autoResize="autoResize"></textarea>        
        </div>

        </div>

        </div>

        </div>
    </p-panel>
    <p-panel header="Root Causes" *ngIf="selectedTab=='6'">
        <p-skeleton height="30rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Containment" *ngIf="selectedTab=='7'">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Permanent Countermeasures" *ngIf="selectedTab=='8'">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Re-Open Comments" *ngIf="selectedTab=='9'">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <p-panel header="Close Comments" *ngIf="selectedTab=='10'">
        <p-skeleton height="5rem" animation="none" styleClass="surface-400"></p-skeleton>
    </p-panel>
    <div class="flex justify-content-end">
    <button pButton type="button" label="Previous" class="mt-3 mr-3" [disabled]="selectedTab=='0'" (click)="previousTab()"></button>
    <button pButton type="button" label="Next" class="mt-3" [disabled]="selectedTab=='11'" (click)="nextTab()"></button>
    </div>
    </div>
</div>
<button pButton type="button" label="Save" class="mt-3 mr-3"></button>
<button pButton type="button" label="Submit..." class="mt-3" disabled="true"></button>
